/* Color styles */
$grays-100:#131A20;
$grays-200:#232E39;
$grays-300:#364859;
$grays-400:#4F6982;
$grays-500:#61819E;
$grays-600:#7792AC;
$grays-700:#8AA1B7;
$grays-800:#A0B3C5;
$grays-900:#B9C7D4;
$primary-100:#99AAFF;
$primary-200:#7A91FF;
$primary-300:#617BFF;
$primary-400:#4262FF;
$primary-500:#2448FF;
$primary-600:#052FFF;
$primary-700:#0025DB;
$primary-800:#001EB3;
$primary-900:#00178A;
$red-100:#FF8A8A;
$red-200:#FF6B6B;
$red-300:#FF4747;
$red-400:#FF2424;
$red-500:#FF0000;
$red-600:#E00000;
$red-700:#C20000;
$red-800:#9E0000;
$red-900:#800000;
$green-100:#94FF9B;
$green-200:#7AF582;
$green-300:#59F363;
$green-400:#38F044;
$green-500:#1BEE29;
$green-600:#10D11D;
$green-700:#0DAF18;
$green-800:#097710;
$green-900:#06550C;