@use 'colors';
@use 'sass:math';
@use 'quest-list';

$navbar-height: 90vh;
$navbar-width: 5vw;
$quest-text-part-width: 70%;

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 200vh;
    background-color: white;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#banner {
    height: 10%;
}

h1 {
    text-align: center;
}

#ui-root {
    height: 100%;
    width: 100%;
    background-color: #ddd;
}

main {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-areas:
    "navbar quest-list ."
    "navbar quest-list .";
    grid-template-columns: ($navbar-width + 2vw) repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
}

#bg-cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: #00000033;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-popup {
    width: 30%;
    height: 30%;

    background-color: white;

    overflow-y: scroll;


}

#navbar {
    /* 
    * When using fixed or absolute position, you need to use the 
    * CSS offset properties (top, right, etc.).
    * Although it is removed from document flow,
    * the default offset is auto, so to avoid being positioned automatically,
    * set it lol.
    */
    margin-left: 1rem;
    padding: 0;
    height: $navbar-height;
    width: $navbar-width;
    position: sticky;
    top: math.div(100vh - $navbar-height, 2);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: grey;
}